<h1>New Review</h1>


  <%= simple_form_for [@restaurant, @review] do |f| %>

    <%= f.input :content %>
    <%= f.input :rating %>

    <div class="button-wrap">

       <div class="article-menu-item">
        <%= link_to restaurants_path do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
      </div>

      <%= f.submit class: 'button' %>

    </div>


  <% end %>

  <div class="article-menu">

